.timetable {
  margin-bottom: 82px;

  @media (max-width: $mobile) {
    margin-bottom: 45px;
  }

  &__table {
    max-width: 770px;
    width: 100%;
    padding: 0;

    border: 1px solid $grey;

    border-collapse: collapse;
    table-layout: fixed;

    caption {
      text-align: left;

      max-width: 284px;
      width: 100%;

      @media (max-width: $mobile) {
        max-width: 100%;
      }
    }

    td,
    th {
      padding-left: 30px;
      padding-right: 30px;

      @media (max-width: $mobile) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &__title {
    margin: 0 0 24px;
    padding: 0;

    @include font-main(20px, 29px, 500, $font-black);

    @media (max-width: $mobile) {
      margin-bottom: 38px;

      font-size: 26px;
      line-height: 34px;
      font-weight: normal;

      text-align: center;
    }
  }

  &__date {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    padding-top: 27px;
    padding-bottom: 9px;

    @media (max-width: $mobile) {
      justify-content: center;

      padding-top: 20px;
      padding-bottom: 16px;
    }

    p {
      margin: 0 14px 5px 0;
      padding: 0;

      @include font-main(18px, 26px, 400, $font-black);

      @media (max-width: $mobile) {
        margin: 0 0 10px;
      }

      span {
        font-weight: 500;
      }
    }
  }

  &__calendar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    background-color: transparent;
    border: 0.5px solid #c4c4c4;
    border-radius: 3px;

    transition-property: border-color, background-color, opacity;
    transition-duration: 0.3s;

    cursor: pointer;
    outline: none;

    @media (max-width: $mobile) {
      display: none;
    }

    &:hover,
    &:focus {
      border-color: $orange;
      background-color: orange;

      svg {
        fill: $white;
      }
    }

    &:active {


      opacity: 0.3;
    }

    svg {
      fill: #83888A;

      transition-property: fill;
      transition-duration: 0.3s;
    }
  }

  .timetable__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 20px;

    border-top: 0.5px solid $grey;

    @media (max-width: $mobile) {
      padding-top: 30px;
    }

    p {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin: 0 20px 8px 0;
      padding: 0;

      @include font-main(18px, 26px, 400, $font-black);

      span {
        margin-bottom: 9px;
      }
    }
  }

  &__price {
    @include font-main(18px, 22px, 600, $font-black);
  }

  &__btn {
    margin-bottom: 13px;

    @media (max-width: $mobile) {
      margin-bottom: 29px;
    }
  }

  &__raiting {
    padding: 41px 0 46px;

    @media (max-width: $mobile) {
      border-top: 0.5px solid $grey;

      padding: 32px 0 29px;

      p {
        margin: 3px 0 0;

        font-size: 13px;
        line-height: 19px;
      }

      ul {
        margin-top: 3px;
      }
    }
  }
}
