$width-laptop: 1024px;
$width-tablet: 768px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*Шрифты*/
$font-main: "Montserrat", "Arial", sans-serif;

/*Цвета*/
$white: #ffffff;
$grey: #c7c7c7;
$orange: #fc9b09;

$font-black: #37373f;
$font-grey: #b3b3b3;
$font-blue: #5286ec;

$promo-background: #4c5b72;
