section.promo
  .promo__poster
    +img-jpg("main-poster", 1916, 840, "ксклюзивная фотосессия при полете на вертолете")
  .promo__content
    .promo__wrapper.container
      h1.promo__title Эксклюзивная <b>фотосессия</b> при полете на вертолете
      .promo__tooltip.tooltip
        .tooltip__content
          p.tooltip__title Cтоимость:
            span.tooltip__price 1500 <span>₽</span>
          span.tooltip__icon %
      button.promo_btn.button.button--big.button--white(type="button") Узнать о поступлении


