.promo {
  position: relative;

  width: 100%;
  min-height: 655px;
  padding-bottom: 43.75%;
  margin-bottom: 3.6%;

  background-color: $promo-background;

  &__poster {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      display: block;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-top: 1.1%;
  }

  &__title {
    max-width: 890px;
    width: 100%;
    margin: 0 0 19px;
    padding: 0;

    @include font-main(40px, 49px, 700, $white);

    @media (max-width: $laptop) {
      font-size: 35px;
      line-height: 40px;

      margin-bottom: 25px;
    }

    b {
      font-weight: 700;
      color: $orange;
    }
  }
}
