.payment-icons {
  margin: 2px 0;

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0 -9px;
    padding: 0;

    list-style: none;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 0 9px;
  }
}
