.profile {
  width: 290px;
  max-width: 100%;
  padding: 3% 6% 0;

  @media (max-width: $laptop) {
    padding: 3% 5% 0;
  }

  &__media {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 23px;
    padding-top: 18px;
  }

  &__photo {
    position: relative;

    width: 139px;
    height: 139px;

    border-radius: 50%;
    background-color: $grey;

    overflow: hidden;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    margin: 0 0 7px;
    padding: 0;

    @include font-main(18px, 22px, 500, $font-black);
  }

  &__category {
    margin: 0 0 7px;
    padding: 0;

    @include font-main(14px, 21px, 400, $font-black);
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include font-main(14px, 21px, 400, $font-blue);
    text-decoration: none;
    text-align: center;

    transition-property: color, opacity;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      color: $orange;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

