.raiting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;

  img {
    display: block;

    width: 32px;
    height: 35.8px;
    margin-right: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    max-width: 72%;
    width: auto;

    @media (max-width: $mobile) {
      max-width: 78%;
    }
  }

  &__text {
    margin: 10px 16px 0 0;
    padding: 0;

    @include font-main(18px, 26px, 400, $font-black);

    @media (max-width: $laptop) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__stars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 9px -3.5px 0;
    padding: 0;

    list-style: none;

    li {
      width: 18px;
      height: 17px;
      margin: 0 3.5px;
    }
  }
}
