.raiting {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  img {
    display: block;

    width: 32px;
    height: 35.8px;
    margin-right: 10px;
  }

  &__text {
    margin: 3px 14px 0 0;
    padding: 0;
  }

  &__stars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 -3.5px;
    padding: 0;

    list-style: none;

    li {
      width: 18px;
      height: 17px;
      margin: 0 3.5px;
    }
  }

  &__check {
    position: relative;

    margin: 0 0 0 45px;
    padding: 0 0 0 25px;

    @include font-main(14px, 21px, 400, $font-grey);

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      background-color: transparent;

      width: 18px;
      height: 11.5px;

      border-left: 2.5px solid #6aad4a;
      border-bottom: 2.5px solid #6aad4a;

      transform: rotate(-45deg);

      content: "";
    }
  }
}
