.coordinates {
  position: relative;

  width: 100%;
  min-height: 423px;
  padding: 20px 0 10px;
  margin-bottom: 7%;

  @media (max-width: $mobile) {
    margin-bottom: 40px;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    @media (max-width: $mobile) {
      position: relative;

      min-height: 423px;
      margin-bottom: 52px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border: none;
    }
  }

  &__info {
    position: relative;
    z-index: 2;

    max-width: 420px;
    width: 100%;
    padding: 50px 30px 24px;

    background-color: $white;
    border: 1px solid $grey;

    @media (max-width: $laptop) {
      max-width: 370px;
      padding: 30px 15px 5px;
    }

    @media (max-width: $mobile) {
      max-width: 100%;
      padding: 52px 30px 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 34px;

    @media (max-width: $laptop) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;

      margin-bottom: 40px;

      &--profile {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .coordinates__text {
          align-items: flex-start;
          flex-grow: 2;

          width: 100%;
          max-width: 135px;
        }
      }
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 61px;
    height: 61px;
    margin-right: 18px;

    @include font-main(35px, 51px, 700, $white);

    background-color: $orange;
    border-radius: 50%;

    @media (max-width: $mobile) {
      width: 66px;
      height: 66px;
      margin: 0 auto 20px;

      font-size: 30px;
      line-height: 44px;
    }

    &--photo {
      position: relative;

      width: 67px;
      height: 67px;
      margin-right: 10px;

      overflow: hidden;

      @media (max-width: $laptop) {
        margin: 0 10px 0 0;
      }
    }
  }

  &__text {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 279px;
    width: 100%;
    margin: 3px 0 0;
    padding: 0;

    @include font-main(18px, 26px, 400, $font-black);

    @media (max-width: $laptop) {
      max-width: 250px;
    }

    @media (max-width: $mobile) {
      justify-content: flex-start;
      align-items: center;

      max-width: 100%;
    }

    span:not(.coordinates__profile-category) {
      margin-bottom: 5px;

      &:first-child {
        @include font-main(18px, 27px, 500, $font-black);

        @media (max-width: $mobile) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      @include font-main(14px, 21px, 400, $font-blue);
      text-decoration: none;

      transition-property: opacity;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        color: $orange;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__profile-category {
    @include font-main(16px, 23px, 400, $font-black);
  }
}
