.raiting {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 20px 0 31px;

  border-top: 0.5px solid $grey;
  border-bottom: 0.5px solid $grey;

  img {
    display: block;

    width: 32px;
    height: 35.8px;
    margin-right: 10px;
  }

  p {
    margin: 3px 14px 0 0;
    padding: 0;
  }

  &__stars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 -3.5px;
    padding: 0;

    list-style: none;

    li {
      width: 18px;
      height: 17px;
      margin: 0 3.5px;
    }
  }
}

