.header {
  width: 100%;
  padding: 28px 0 27px;

  background-color: $white;

  @media (max-width: $laptop) {
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $mobile) {
      justify-content: space-between;
    }
  }

  &__logo {
    width: 129px;
    height: 23px;
    margin-right: 36px;
    margin-top: 6px;

    transition-property: opacity;
    transition-duration: 0.3s;

    @media (max-width: $mobile) {
      width: 84px;
      height: 15.5px;
      margin-right: 20px;
      margin-top: 0;
    }

    svg {
      width: 100%;
      height: 100%;

      fill: $font-black;

      transition-property: fill;
      transition-duration: 0.3s;
    }

    &:hover,
    &:focus {

      svg {
        fill: $orange;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__phone {
    @include font-main(14px, 17px, 400, $font-grey);

    a {
      text-decoration: none;
      color: $font-black;

      transition-property: opacity, color;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        color: $orange;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}
