header.header
  .header__wrapper.container
    a.header__logo(href="main.html" title="Helyfly")
      +svg("logo", 129, 23)
    .header__contacts
      p.header__phone Телефон:
        a(href="tel: 88001231212") 8(800)-123-12-12
