.section.gallery
  .container
    .gallery__wrapper.js-show-container
      h3.gallery__title Фотографии пакета:
      ul.gallery__list
        each photo in photos
          li.gallery__item.js-show-item
            div.gallery__img
              +img-jpg("" + photo, 277, 185)
      .gallery__more
        button.button-more.button-more--double-arrow.js-show-btn(type="button" data-count="8" data-text="Свернуть") Показать еще
