section.organizer
  .organizer__wrapper.container
    .organizer__info
      .organizer__item.js-show-container
        h3.organizer__title Об организаторе:
        p.organizer__text.js-show-item
          span Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
        p.organizer__text.js-show-item
          span Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся<span class="js-dots">...</span><span class="js-show-item"> c субпоставщиками. Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся c субпоставщиками.</span>
        p.organizer__text.js-show-item
          span Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.

        button.organizer__more.button-more.js-show-btn(type="button" data-count="2" data-text="Скрыть") Читать еще

      .organizer__item.js-show-container
        h3.organizer__title Что я представляю:
        - for (var x = 0; x < 10; x++)
          p.organizer__text.js-show-item
            span Встречу вас на машине после длительного перелёта.  Качественный подбор места и локации для вашей съемки.  При необходимости всегда возможно прерваться на обед/ужин.  Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае ! 

        button.organizer__more.button-more.js-show-btn(type="button" data-count="1" data-text="Скрыть") Читать еще

    .organizer__profile
      .profile
        .profile__media
          .profile__photo
            +img-jpg("profile-1", 139, 139, "Марина Иванова")
          span.profile__icon
            +svg("heart", 31, 27)
        .profile__info
          h4.profile__title Марина Иванова
          p.profile__category Фотограф
          a.profile__link(href="#")
            span Показать больше
            span информации о фотографе
